# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: Java CI

on:
  workflow_dispatch: {}
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - 'main'

jobs:
  build:

    strategy:
      matrix:
        maven: [ '3.3.9', '3.8.1' ]
        os: [ ubuntu-latest, windows-latest, macOS-latest ]
        java:
          # Hotspot VM, the "default" VM
          - version: 8
            dist: adopt-hotspot
          - version: 11
            dist: adopt-hotspot
          - version: 16
            dist: adopt-hotspot
          # Zulu VM, based on Hotspot
          - version: 8
            dist: zulu
          - version: 11
            dist: zulu
          - version: 16
            dist: zulu
          # OpenJ9, an alternate JVM implementation.
          - version: 8
            dist: adopt-openj9
          - version: 11
            dist: adopt-openj9
          - version: 16
            dist: adopt-openj9
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up cache for ~./m2/repository
        uses: actions/cache@v2.1.3
        with:
          path: |
            ~/.m2/repository
            !~/.m2/repository/org/codehaus/mojo/tidy-maven-plugin
          key: maven-${{ matrix.os }}-java${{ matrix.java }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-${{ matrix.os }}-java${{ matrix.java }}-
            maven-${{ matrix.os }}-

      - name: Set up JDK
        uses: actions/setup-java@v2.1.0
        with:
          java-version: ${{ matrix.java.version }}
          distribution: ${{ matrix.java.dist }}

      - name: Set up Maven
        shell: bash
        run: mvn -N "io.takari:maven:0.7.7:wrapper" "-Dmaven=${{ matrix.maven }}"

      - name: Prepare maven build
        shell: bash
        run: ./mvnw --show-version --errors --batch-mode validate dependency:go-offline

      - name: Build with Maven
        shell: bash
        run: ./mvnw --show-version --errors --batch-mode "-Dinvoker.streamLogsOnFailures=true" "-Prun-its" clean verify
